---
AccessModifierOffset: '-4'
AlignAfterOpenBracket: AlwaysBreak
AllowShortFunctionsOnASingleLine: 'false'
AllowShortIfStatementsOnASingleLine: 'false'
#AllowShortLambdasOnASingleLine: 'true'
AllowShortLoopsOnASingleLine: 'false'
AlignTrailingComments: 'true'
BreakBeforeBraces: Custom
BreakConstructorInitializers: 'BeforeComma'
BraceWrapping:
  AfterClass: 'true'
  AfterFunction: 'true'
  AfterControlStatement: 'true'
  AfterStruct: 'true'
  BeforeCatch: 'true'
  BeforeElse: 'true'
CompactNamespaces: 'true'
ColumnLimit: '150'
Cpp11BracedListStyle: 'true'
FixNamespaceComments: 'true'
IndentCaseLabels: 'false'
IndentWidth: '4'
IncludeBlocks: 'Regroup'
KeepEmptyLinesAtTheStartOfBlocks: 'true'
Language: Cpp
NamespaceIndentation: Inner
PointerAlignment: Left
SortIncludes: 'true'
SortUsingDeclarations: 'false'
#SpaceAfterLogicalNot: 'true'
SpaceAfterTemplateKeyword: 'true'
SpaceBeforeAssignmentOperators: 'true'
#SpaceBeforeCtorInitializerColon: 'false'
#SpaceBeforeInheritanceColon: 'false'
SpaceBeforeParens: Never
#SpaceBeforeRangeBasedForLoopColon: 'true'
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'false'
SpacesInCStyleCastParentheses: 'false'
SpacesInContainerLiterals: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
Standard: Cpp11
UseTab: Never

...
